:root {
    --back-header-color: rgb(23, 42, 102);
    --hover-header-li: rgb(224, 210, 210);
    --b-scale: 1.05;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family :Arial, Helvetica, sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}
header {
    background-color: var(--back-header-color);
    color: #fff;
}
.header-container {
    margin: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 3px 0px;
}
.logo:hover {
    transform: scale(var(--b-scale), var(--b-scale));
}
.nav {
    display: flex;
}
.nav li {
    margin: 5px 0px;
    padding: 15px 15px;
    cursor: pointer;
}
.nav li:hover {
    color: var(--hover-header-li);
}
.mobile-nav, .menu {
    cursor: pointer;
    display: none;
}
.mobile-nav-active {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 100;
}
.close{
    margin: 10px 10px 0px 0px;
}
.mob-menu {
    margin: 0 auto;
    margin-top: 10px;
}
.mob-menu > li:hover {
    color: var(--hover-header-li);
}
@media (max-width: 770px) {
    .nav li:last-child {
        padding-right: 10px;
    }
    .nav li {
        justify-content: space-around;
    }
    .nav {
        margin-left: 15px;  
    }
}
@media (max-width: 650px) {
    .nav {
        display: none;
    }
    .mobile {
        display: inherit;
    }
    .header-container{
        flex-direction: column;
    }
    .menu {
        display: inherit;
        margin: 15px auto;
    }
    .logo{
        margin-top: 10px;
    }
    .header {
        
    }
}
.main {
    background-image: url(/img/yellow.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%
}
.shop-container {
    margin: 0px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-container {
    margin: 35px 10px;
}
.item-container:hover {
    box-shadow: 10px 10px 10px #111;
    background-color: var(--back-header-color);
    cursor: pointer;
    transform: scale(var(--b-scale), var(--b-scale));
}
.item-header {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: var(--back-header-color);
}
.item-img {
    height: 350px;
    width: 350px;
}
.footer {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: var(--back-header-color);
}
.footer-logo {
    color: #fff;
}
.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 83%;
}
.slide {
    height: 80vh; 
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}
.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: rgba(59, 62, 70, 0.9);
    border-radius: 10px;
    padding: 10px;
}  
.slide.active {
    flex: 10;
}
.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.mob-menu li {
    padding: 5px;
}
/*---------Contacts------------*/
.form-container {
    padding: 100px;
}
.form {
    margin: 0 auto;
    width: 60%;
    border: 1px solid #fff;
    padding: 5px;
    height: 650px;
}
input {
    display: block;
    width: 40%;
    height: 40px;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-basis: 20%;
    margin: 10px;
}
.name-block {
    margin-bottom: 20px;
}
p {
    color: black;
    font-size: 22px;
    font-weight: 700;
}
h2 {
    margin-top: 100px;
    color: black;
    font-weight: 900;
    font-size: 28px;
    padding: 10px 20px;
    text-align: center;
}
.add-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-info > p {
    padding: 5px;
    color: black;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}
.add-info > p:hover {
    color: red;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
}
button {
    padding: 5px 10px;
    width: 30%;
    margin: 30px 10px;
}
button:hover {
    cursor: pointer;
}
button:hover {
    background-color: var(--back-header-color);
    color: #fff;
}

